<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Basic Elements Check Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>17/09/11 15:04:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.clearBetslip@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/09/11 15:04:19</td>   <td>5823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="clearBetslip.clearBetSlip()[pri:0, instance:webdriver.clearBetslip@26be92ad]">clearBetSlip</td> 
  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 15:04:32</td>   <td>19022</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.clearBetslip@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 15:04:35</td>   <td>22430</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.sportsbookTreeCheck@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/09/11 15:04:40</td>   <td>27537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sportsbookTreeCheck.sportsbookTree()[pri:0, instance:webdriver.sportsbookTreeCheck@5e3a8624]">sportsbookTree</td> 
  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 15:06:09</td>   <td>116101</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.sportsbookTreeCheck@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1333592072</td>   <td></td> </tr>
</table>
