<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Coupons Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf97b9">  <td>17/09/11 13:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkBalanceAfterTicketPlacingWithCoupon.CheckBalanceCoupon()[pri:0, instance:webdriver.checkBalanceAfterTicketPlacingWithCoupon@5f341870]">CheckBalanceCoupon</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:40:43</td>   <td>-291195</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.couponPlacePrematch@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:41:12</td>   <td>-262868</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.couponPlaceLive@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:41:41</td>   <td>-233466</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.couponPlaceVirtuals@6d4b1c02]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:42:09</td>   <td>-205894</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.couponMulticurrency@57baeedf]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:44:18</td>   <td>-76702</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.couponConditionsCheck@204f30ec]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:45:07</td>   <td>-27554</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.couponLimitCheck@13deb50e]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:45:30</td>   <td>-4880</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.checkBalanceAfterTicketPlacingWithCoupon@5f341870]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:45:53</td>   <td>17997</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.noBalanceCouponTicketPlace@4cf777e8]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>17/09/11 13:45:57</td>   <td>22822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="noBalanceCouponTicketPlace.NoBalancePlaceTicketCoupon()[pri:0, instance:webdriver.noBalanceCouponTicketPlace@4cf777e8]">NoBalancePlaceTicketCoupon</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:41:09</td>   <td>-265903</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.couponPlacePrematch@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:41:38</td>   <td>-236897</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.couponPlaceLive@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:42:05</td>   <td>-209224</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.couponPlaceVirtuals@6d4b1c02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:44:15</td>   <td>-79871</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.couponMulticurrency@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:45:04</td>   <td>-30700</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.couponConditionsCheck@204f30ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:45:26</td>   <td>-8231</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.couponLimitCheck@13deb50e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:45:49</td>   <td>14873</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.checkBalanceAfterTicketPlacingWithCoupon@5f341870]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 13:46:16</td>   <td>41806</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.noBalanceCouponTicketPlace@4cf777e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>17/09/11 13:44:23</td>   <td>-71699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="couponConditionsCheck.conditionsCheckCoupon()[pri:0, instance:webdriver.couponConditionsCheck@204f30ec]">conditionsCheckCoupon</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>17/09/11 13:45:12</td>   <td>-22418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="couponLimitCheck.couponLimitHit()[pri:0, instance:webdriver.couponLimitCheck@13deb50e]">couponLimitHit</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>17/09/11 13:42:14</td>   <td>-200397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="couponMulticurrency.couponMultiCurr()[pri:0, instance:webdriver.couponMulticurrency@57baeedf]">couponMultiCurr</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/09/11 13:40:49</td>   <td>-285259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="couponPlacePrematch.couponPlace()[pri:0, instance:webdriver.couponPlacePrematch@26be92ad]">couponPlace</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/09/11 13:41:17</td>   <td>-257558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="couponPlaceLive.couponPlaceLiveTicket()[pri:0, instance:webdriver.couponPlaceLive@5e3a8624]">couponPlaceLiveTicket</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>17/09/11 13:41:46</td>   <td>-228170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="couponPlaceVirtuals.couponPlaceVirtual()[pri:0, instance:webdriver.couponPlaceVirtuals@6d4b1c02]">couponPlaceVirtual</td> 
  <td>main@422250493</td>   <td></td> </tr>
</table>
