<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Non Stop Ticket Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>17/09/11 14:54:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.addOddPrematch@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/09/11 14:54:33</td>   <td>5753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addOddPrematch.AdditionalOddPrematch()[pri:0, instance:webdriver.addOddPrematch@26be92ad]">AdditionalOddPrematch</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:54:49</td>   <td>22226</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.addOddPrematch@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:54:52</td>   <td>25187</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.addOddPrematchToLive@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/09/11 14:54:57</td>   <td>30177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addOddPrematchToLive.AdditionalOddPrematchToLive()[pri:0, instance:webdriver.addOddPrematchToLive@5e3a8624]">AdditionalOddPrematchToLive</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:55:26</td>   <td>58909</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.addOddPrematchToLive@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:55:29</td>   <td>61894</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.addOddPrematchToVirtual@6d4b1c02]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>17/09/11 14:55:34</td>   <td>67081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addOddPrematchToVirtual.AdditionalOddPrematchToVirtual()[pri:0, instance:webdriver.addOddPrematchToVirtual@6d4b1c02]">AdditionalOddPrematchToVirtual</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:55:59</td>   <td>91663</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.addOddPrematchToVirtual@6d4b1c02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:56:00</td>   <td>92794</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.addOddPrematchToResolvedTicket@57baeedf]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>17/09/11 14:56:05</td>   <td>97998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addOddPrematchToResolvedTicket.AdditionalOddPrematchToResolvedTicket()[pri:0, instance:webdriver.addOddPrematchToResolvedTicket@57baeedf]">AdditionalOddPrematchToResolvedTicket</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:56:25</td>   <td>117484</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.addOddPrematchToResolvedTicket@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:56:27</td>   <td>120407</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.addOddPrematchSameMatch@204f30ec]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>17/09/11 14:56:33</td>   <td>125800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addOddPrematchSameMatch.AdditionalOddPrematchSameMatch()[pri:0, instance:webdriver.addOddPrematchSameMatch@204f30ec]">AdditionalOddPrematchSameMatch</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:56:49</td>   <td>142423</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.addOddPrematchSameMatch@204f30ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:56:53</td>   <td>145687</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.addOddLive@13deb50e]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>17/09/11 14:56:58</td>   <td>150772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addOddLive.AdditionalOddLive()[pri:0, instance:webdriver.addOddLive@13deb50e]">AdditionalOddLive</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:57:33</td>   <td>185831</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.addOddLive@13deb50e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:57:36</td>   <td>188839</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.addOddLiveToPrematch@5f341870]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>17/09/11 14:57:41</td>   <td>194253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addOddLiveToPrematch.AdditionalOddLiveToPrematch()[pri:0, instance:webdriver.addOddLiveToPrematch@5f341870]">AdditionalOddLiveToPrematch</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:58:10</td>   <td>223137</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.addOddLiveToPrematch@5f341870]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:58:13</td>   <td>226088</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.addOddVirtualToPrematch@4cf777e8]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>17/09/11 14:58:18</td>   <td>231173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addOddVirtualToPrematch.AdditionalOddVirtualToPrematch()[pri:0, instance:webdriver.addOddVirtualToPrematch@4cf777e8]">AdditionalOddVirtualToPrematch</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:58:43</td>   <td>256340</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.addOddVirtualToPrematch@4cf777e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
</table>
