<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Virtuals Ticket PlacingSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>17/08/30 14:02:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFLMultiTicket@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:03:05</td>   <td>24243</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFLSingleTicket@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:03:33</td>   <td>52646</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFLSystemTicket@6d4b1c02]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:04:01</td>   <td>79769</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVBLMultiTicket@57baeedf]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:04:24</td>   <td>103364</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVBLSingleTicket@204f30ec]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:04:53</td>   <td>132056</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVBLSystemTicket@13deb50e]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:05:21</td>   <td>159686</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVTLSingleTicket@5f341870]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:05:43</td>   <td>182277</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFL_NationsCupSingleTicket@4cf777e8]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:06:37</td>   <td>235823</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFL_EuroCupSingleTicket@5bcab519]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:07:29</td>   <td>288507</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVirtualsHybridMultiTicket@27c20538]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:03:02</td>   <td>21077</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFLMultiTicket@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:03:30</td>   <td>49530</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFLSingleTicket@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:03:57</td>   <td>76541</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFLSystemTicket@6d4b1c02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:04:21</td>   <td>100115</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVBLMultiTicket@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:04:50</td>   <td>128955</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVBLSingleTicket@204f30ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:05:17</td>   <td>156423</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVBLSystemTicket@13deb50e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:05:40</td>   <td>179161</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVTLSingleTicket@5f341870]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:06:34</td>   <td>232768</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFL_NationsCupSingleTicket@4cf777e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:07:26</td>   <td>285513</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFL_EuroCupSingleTicket@5bcab519]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/08/30 14:08:09</td>   <td>328304</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVirtualsHybridMultiTicket@27c20538]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>17/08/30 14:04:05</td>   <td>84611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVBLMultiTicket.placeVBLMulti()[pri:0, instance:webdriver.placeVBLMultiTicket@57baeedf]">placeVBLMulti</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>17/08/30 14:04:29</td>   <td>108176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVBLSingleTicket.placeVBLSingle()[pri:0, instance:webdriver.placeVBLSingleTicket@204f30ec]">placeVBLSingle</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>17/08/30 14:04:58</td>   <td>136783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVBLSystemTicket.placeVBLSystem()[pri:0, instance:webdriver.placeVBLSystemTicket@13deb50e]">placeVBLSystem</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/08/30 14:02:47</td>   <td>6058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFLMultiTicket.placeVFLMulti()[pri:0, instance:webdriver.placeVFLMultiTicket@26be92ad]">placeVFLMulti</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>17/08/30 14:07:34</td>   <td>293194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVirtualsHybridMultiTicket.placeVFLMulti()[pri:0, instance:webdriver.placeVirtualsHybridMultiTicket@27c20538]">placeVFLMulti</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/08/30 14:03:10</td>   <td>29281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFLSingleTicket.placeVFLSingle()[pri:0, instance:webdriver.placeVFLSingleTicket@5e3a8624]">placeVFLSingle</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>17/08/30 14:03:38</td>   <td>57436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFLSystemTicket.placeVFLSystem()[pri:0, instance:webdriver.placeVFLSystemTicket@6d4b1c02]">placeVFLSystem</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>17/08/30 14:06:41</td>   <td>240150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFL_EuroCupSingleTicket.placeVFL_EuroCupSingle()[pri:0, instance:webdriver.placeVFL_EuroCupSingleTicket@5bcab519]">placeVFL_EuroCupSingle</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>17/08/30 14:05:48</td>   <td>186969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFL_NationsCupSingleTicket.placeVFL_NationsCupSingle()[pri:0, instance:webdriver.placeVFL_NationsCupSingleTicket@4cf777e8]">placeVFL_NationsCupSingle</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>17/08/30 14:05:25</td>   <td>164180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVTLSingleTicket.placeVTLSingle()[pri:0, instance:webdriver.placeVTLSingleTicket@5f341870]">placeVTLSingle</td> 
  <td>main@828441346</td>   <td></td> </tr>
</table>
