<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Virtuals Ticket Placing Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>17/09/11 14:23:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFLMultiTicket@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/09/11 14:23:59</td>   <td>6175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFLMultiTicket.placeVFLMulti()[pri:0, instance:webdriver.placeVFLMultiTicket@26be92ad]">placeVFLMulti</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:24:16</td>   <td>23747</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFLMultiTicket@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:24:20</td>   <td>27092</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFLSingleTicket@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/09/11 14:24:25</td>   <td>32143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFLSingleTicket.placeVFLSingle()[pri:0, instance:webdriver.placeVFLSingleTicket@5e3a8624]">placeVFLSingle</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:24:49</td>   <td>56835</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFLSingleTicket@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:24:52</td>   <td>59890</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFLSystemTicket@6d4b1c02]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>17/09/11 14:24:57</td>   <td>64658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFLSystemTicket.placeVFLSystem()[pri:0, instance:webdriver.placeVFLSystemTicket@6d4b1c02]">placeVFLSystem</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:25:17</td>   <td>84058</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFLSystemTicket@6d4b1c02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:25:20</td>   <td>87168</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVBLMultiTicket@57baeedf]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>17/09/11 14:25:25</td>   <td>92397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVBLMultiTicket.placeVBLMulti()[pri:0, instance:webdriver.placeVBLMultiTicket@57baeedf]">placeVBLMulti</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:25:42</td>   <td>109394</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVBLMultiTicket@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:25:45</td>   <td>112684</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVBLSingleTicket@204f30ec]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>17/09/11 14:25:51</td>   <td>117985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVBLSingleTicket.placeVBLSingle()[pri:0, instance:webdriver.placeVBLSingleTicket@204f30ec]">placeVBLSingle</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:26:14</td>   <td>141596</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVBLSingleTicket@204f30ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:26:17</td>   <td>144895</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVBLSystemTicket@13deb50e]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>17/09/11 14:26:23</td>   <td>149945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVBLSystemTicket.placeVBLSystem()[pri:0, instance:webdriver.placeVBLSystemTicket@13deb50e]">placeVBLSystem</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:26:45</td>   <td>172862</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVBLSystemTicket@13deb50e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:26:49</td>   <td>175954</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVTLSingleTicket@5f341870]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>17/09/11 14:26:54</td>   <td>181145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVTLSingleTicket.placeVTLSingle()[pri:0, instance:webdriver.placeVTLSingleTicket@5f341870]">placeVTLSingle</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:27:10</td>   <td>197540</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVTLSingleTicket@5f341870]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:27:13</td>   <td>200694</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFL_NationsCupSingleTicket@4cf777e8]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>17/09/11 14:27:19</td>   <td>206272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFL_NationsCupSingleTicket.placeVFL_NationsCupSingle()[pri:0, instance:webdriver.placeVFL_NationsCupSingleTicket@4cf777e8]">placeVFL_NationsCupSingle</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:27:36</td>   <td>223172</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFL_NationsCupSingleTicket@4cf777e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:27:39</td>   <td>226235</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVFL_EuroCupSingleTicket@5bcab519]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>17/09/11 14:27:44</td>   <td>231470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVFL_EuroCupSingleTicket.placeVFL_EuroCupSingle()[pri:0, instance:webdriver.placeVFL_EuroCupSingleTicket@5bcab519]">placeVFL_EuroCupSingle</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:28:01</td>   <td>248212</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVFL_EuroCupSingleTicket@5bcab519]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:28:04</td>   <td>251340</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVirtualsHybridMultiTicket@27c20538]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>17/09/11 14:28:10</td>   <td>257503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVirtualsHybridMultiTicket.placeVFLMulti()[pri:0, instance:webdriver.placeVirtualsHybridMultiTicket@27c20538]">placeVFLMulti</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:28:43</td>   <td>290864</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVirtualsHybridMultiTicket@27c20538]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:28:47</td>   <td>294131</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeVirtualAndPrematch@56ef9176]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>17/09/11 14:28:52</td>   <td>299054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeVirtualAndPrematch.PlaceVirtualAndPrematch()[pri:0, instance:webdriver.placeVirtualAndPrematch@56ef9176]">PlaceVirtualAndPrematch</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:29:13</td>   <td>320697</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeVirtualAndPrematch@56ef9176]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
</table>
