<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Prematch Ticket Placement Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>17/09/11 14:29:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchMultiTicket@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/09/11 14:29:31</td>   <td>6468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchMultiTicket.PlaceTicket()[pri:0, instance:webdriver.placePrematchMultiTicket@26be92ad]">PlaceTicket</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:29:49</td>   <td>24765</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchMultiTicket@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:29:52</td>   <td>27747</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchSingleTicket@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/09/11 14:29:57</td>   <td>32880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchSingleTicket.placeSingle()[pri:0, instance:webdriver.placePrematchSingleTicket@5e3a8624]">placeSingle</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:30:20</td>   <td>55805</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchSingleTicket@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:30:23</td>   <td>58842</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchSystemTicket@6d4b1c02]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>17/09/11 14:30:28</td>   <td>64013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchSystemTicket.placeSystemTicket()[pri:0, instance:webdriver.placePrematchSystemTicket@6d4b1c02]">placeSystemTicket</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:30:49</td>   <td>84546</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchSystemTicket@6d4b1c02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:30:52</td>   <td>87411</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchBeforeLogin@57baeedf]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>17/09/11 14:30:57</td>   <td>92527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchBeforeLogin.placeBeforeLogin()[pri:0, instance:webdriver.placePrematchBeforeLogin@57baeedf]">placeBeforeLogin</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:04</td>   <td>99882</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchBeforeLogin@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:07</td>   <td>103099</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchAfterLogOut@204f30ec]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>17/09/11 14:31:13</td>   <td>108364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchAfterLogOut.placeAfterLogin()[pri:0, instance:webdriver.placePrematchAfterLogOut@204f30ec]">placeAfterLogin</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:25</td>   <td>120391</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchAfterLogOut@204f30ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:28</td>   <td>123628</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchAfterMatchStarted@13deb50e]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>17/09/11 14:31:33</td>   <td>128992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchAfterMatchStarted.PlaceTicketAfterMatchStarted()[pri:0, instance:webdriver.placePrematchAfterMatchStarted@13deb50e]">PlaceTicketAfterMatchStarted</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:56</td>   <td>152225</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchAfterMatchStarted@13deb50e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:00</td>   <td>155415</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.noBalancePlaceTicket@5f341870]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>17/09/11 14:32:04</td>   <td>160304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="noBalancePlaceTicket.NoBalancePlaceTicket()[pri:0, instance:webdriver.noBalancePlaceTicket@5f341870]">NoBalancePlaceTicket</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:23</td>   <td>178853</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.noBalancePlaceTicket@5f341870]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:26</td>   <td>182132</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.minBetAmountMulti@4cf777e8]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>17/09/11 14:32:32</td>   <td>187542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="minBetAmountMulti.minBetAmount()[pri:0, instance:webdriver.minBetAmountMulti@4cf777e8]">minBetAmount</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:55</td>   <td>210715</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.minBetAmountMulti@4cf777e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:58</td>   <td>213758</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.checkBalanceAfterTicketPlacing@5bcab519]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>17/09/11 14:33:03</td>   <td>219010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkBalanceAfterTicketPlacing.CheckBalance()[pri:0, instance:webdriver.checkBalanceAfterTicketPlacing@5bcab519]">CheckBalance</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:33:17</td>   <td>233002</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.checkBalanceAfterTicketPlacing@5bcab519]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
</table>
