<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Prematch Ticket Placement Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fd62e5">  <td>17/09/11 14:33:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkBalanceAfterTicketPlacing.CheckBalance()[pri:0, instance:webdriver.checkBalanceAfterTicketPlacing@5bcab519]">CheckBalance</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:29:24</td>   <td>-219010</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchMultiTicket@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:29:52</td>   <td>-191263</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchSingleTicket@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:30:23</td>   <td>-160168</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchSystemTicket@6d4b1c02]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:30:52</td>   <td>-131599</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchBeforeLogin@57baeedf]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:07</td>   <td>-115911</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchAfterLogOut@204f30ec]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:28</td>   <td>-95382</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placePrematchAfterMatchStarted@13deb50e]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:00</td>   <td>-63595</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.noBalancePlaceTicket@5f341870]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:26</td>   <td>-36878</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.minBetAmountMulti@4cf777e8]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:58</td>   <td>-5252</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.checkBalanceAfterTicketPlacing@5bcab519]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>17/09/11 14:32:04</td>   <td>-58706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="noBalancePlaceTicket.NoBalancePlaceTicket()[pri:0, instance:webdriver.noBalancePlaceTicket@5f341870]">NoBalancePlaceTicket</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/09/11 14:29:31</td>   <td>-212542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchMultiTicket.PlaceTicket()[pri:0, instance:webdriver.placePrematchMultiTicket@26be92ad]">PlaceTicket</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>17/09/11 14:31:33</td>   <td>-90018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchAfterMatchStarted.PlaceTicketAfterMatchStarted()[pri:0, instance:webdriver.placePrematchAfterMatchStarted@13deb50e]">PlaceTicketAfterMatchStarted</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:29:49</td>   <td>-194245</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchMultiTicket@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:30:20</td>   <td>-163205</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchSingleTicket@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:30:49</td>   <td>-134464</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchSystemTicket@6d4b1c02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:04</td>   <td>-119128</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchBeforeLogin@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:25</td>   <td>-98619</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchAfterLogOut@204f30ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:31:56</td>   <td>-66785</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placePrematchAfterMatchStarted@13deb50e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:23</td>   <td>-40157</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.noBalancePlaceTicket@5f341870]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:32:55</td>   <td>-8295</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.minBetAmountMulti@4cf777e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:33:17</td>   <td>13992</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.checkBalanceAfterTicketPlacing@5bcab519]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>17/09/11 14:32:32</td>   <td>-31468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="minBetAmountMulti.minBetAmount()[pri:0, instance:webdriver.minBetAmountMulti@4cf777e8]">minBetAmount</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>17/09/11 14:31:13</td>   <td>-110646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchAfterLogOut.placeAfterLogin()[pri:0, instance:webdriver.placePrematchAfterLogOut@204f30ec]">placeAfterLogin</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>17/09/11 14:30:57</td>   <td>-126483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchBeforeLogin.placeBeforeLogin()[pri:0, instance:webdriver.placePrematchBeforeLogin@57baeedf]">placeBeforeLogin</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/09/11 14:29:57</td>   <td>-186130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchSingleTicket.placeSingle()[pri:0, instance:webdriver.placePrematchSingleTicket@5e3a8624]">placeSingle</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>17/09/11 14:30:28</td>   <td>-154997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placePrematchSystemTicket.placeSystemTicket()[pri:0, instance:webdriver.placePrematchSystemTicket@6d4b1c02]">placeSystemTicket</td> 
  <td>main@2114650936</td>   <td></td> </tr>
</table>
