<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Limits Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceaf6a">  <td>17/09/11 14:06:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAutoDecrease.AutoDecrease()[pri:0, instance:webdriver.limitAutoDecrease@5e3a8624]">AutoDecrease</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>17/09/11 14:06:46</td>   <td>21881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAutoDecreaseTimePassed.AutoDecreaseTimePassed()[pri:0, instance:webdriver.limitAutoDecreaseTimePassed@6d4b1c02]">AutoDecreaseTimePassed</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:05:58</td>   <td>-26718</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitStrict@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:06:19</td>   <td>-5297</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAutoDecrease@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:06:41</td>   <td>16518</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAutoDecreaseTimePassed@6d4b1c02]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:07:23</td>   <td>58880</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAskForConfirmationAccept@57baeedf]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:07:46</td>   <td>81739</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAskForConfirmationChange@204f30ec]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:08:11</td>   <td>106515</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAskForConfirmationNoAction@13deb50e]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:00</td>   <td>155184</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAskForConfirmationReject@5f341870]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:23</td>   <td>178584</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitBetWithConfirmationAccept@4cf777e8]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:47</td>   <td>202291</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitBetWithConfirmationChange@5bcab519]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:10:13</td>   <td>229026</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitBetWithConfirmationNoAction@27c20538]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:11:02</td>   <td>277656</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitBetWithConfirmationReject@56ef9176]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/09/11 14:06:04</td>   <td>-20648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitStrict.Strict()[pri:0, instance:webdriver.limitStrict@26be92ad]">Strict</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:06:16</td>   <td>-8631</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitStrict@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:06:38</td>   <td>13446</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAutoDecrease@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:07:20</td>   <td>55453</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAutoDecreaseTimePassed@6d4b1c02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:07:43</td>   <td>78494</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAskForConfirmationAccept@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:08:08</td>   <td>103351</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAskForConfirmationChange@204f30ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:08:57</td>   <td>152129</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAskForConfirmationNoAction@13deb50e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:19</td>   <td>175115</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAskForConfirmationReject@5f341870]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:43</td>   <td>199003</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitBetWithConfirmationAccept@4cf777e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:10:10</td>   <td>225699</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitBetWithConfirmationChange@5bcab519]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:10:59</td>   <td>274544</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitBetWithConfirmationNoAction@27c20538]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:11:22</td>   <td>297713</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitBetWithConfirmationReject@56ef9176]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>17/09/11 14:07:28</td>   <td>64090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAskForConfirmationAccept.askForConfirmationAccept()[pri:0, instance:webdriver.limitAskForConfirmationAccept@57baeedf]">askForConfirmationAccept</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>17/09/11 14:07:51</td>   <td>86909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAskForConfirmationChange.askForConfirmationChange()[pri:0, instance:webdriver.limitAskForConfirmationChange@204f30ec]">askForConfirmationChange</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>17/09/11 14:08:17</td>   <td>112209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAskForConfirmationNoAction.askForConfirmationNoAction()[pri:0, instance:webdriver.limitAskForConfirmationNoAction@13deb50e]">askForConfirmationNoAction</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>17/09/11 14:09:05</td>   <td>160522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAskForConfirmationReject.askForConfirmationReject()[pri:0, instance:webdriver.limitAskForConfirmationReject@5f341870]">askForConfirmationReject</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>17/09/11 14:10:19</td>   <td>234491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitBetWithConfirmationNoAction.betWithConfirmationNoActions()[pri:0, instance:webdriver.limitBetWithConfirmationNoAction@27c20538]">betWithConfirmationNoActions</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>17/09/11 14:11:07</td>   <td>283011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitBetWithConfirmationReject.betWithConfirmationReject()[pri:0, instance:webdriver.limitBetWithConfirmationReject@56ef9176]">betWithConfirmationReject</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>17/09/11 14:09:28</td>   <td>184046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitBetWithConfirmationAccept.betWithrConfirmationAccept()[pri:0, instance:webdriver.limitBetWithConfirmationAccept@4cf777e8]">betWithrConfirmationAccept</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>17/09/11 14:09:52</td>   <td>207581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitBetWithConfirmationChange.betWithrConfirmationChange()[pri:0, instance:webdriver.limitBetWithConfirmationChange@5bcab519]">betWithrConfirmationChange</td> 
  <td>main@1558712965</td>   <td></td> </tr>
</table>
