<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Limits Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>17/09/11 14:05:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitStrict@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/09/11 14:06:04</td>   <td>6070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitStrict.Strict()[pri:0, instance:webdriver.limitStrict@26be92ad]">Strict</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:06:16</td>   <td>18087</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitStrict@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:06:19</td>   <td>21421</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAutoDecrease@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/09/11 14:06:24</td>   <td>26718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAutoDecrease.AutoDecrease()[pri:0, instance:webdriver.limitAutoDecrease@5e3a8624]">AutoDecrease</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:06:38</td>   <td>40164</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAutoDecrease@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:06:41</td>   <td>43236</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAutoDecreaseTimePassed@6d4b1c02]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>17/09/11 14:06:46</td>   <td>48599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAutoDecreaseTimePassed.AutoDecreaseTimePassed()[pri:0, instance:webdriver.limitAutoDecreaseTimePassed@6d4b1c02]">AutoDecreaseTimePassed</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:07:20</td>   <td>82171</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAutoDecreaseTimePassed@6d4b1c02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:07:23</td>   <td>85598</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAskForConfirmationAccept@57baeedf]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>17/09/11 14:07:28</td>   <td>90808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAskForConfirmationAccept.askForConfirmationAccept()[pri:0, instance:webdriver.limitAskForConfirmationAccept@57baeedf]">askForConfirmationAccept</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:07:43</td>   <td>105212</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAskForConfirmationAccept@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:07:46</td>   <td>108457</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAskForConfirmationChange@204f30ec]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>17/09/11 14:07:51</td>   <td>113627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAskForConfirmationChange.askForConfirmationChange()[pri:0, instance:webdriver.limitAskForConfirmationChange@204f30ec]">askForConfirmationChange</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:08:08</td>   <td>130069</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAskForConfirmationChange@204f30ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:08:11</td>   <td>133233</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAskForConfirmationNoAction@13deb50e]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>17/09/11 14:08:17</td>   <td>138927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAskForConfirmationNoAction.askForConfirmationNoAction()[pri:0, instance:webdriver.limitAskForConfirmationNoAction@13deb50e]">askForConfirmationNoAction</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:08:57</td>   <td>178847</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAskForConfirmationNoAction@13deb50e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:00</td>   <td>181902</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitAskForConfirmationReject@5f341870]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>17/09/11 14:09:05</td>   <td>187240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitAskForConfirmationReject.askForConfirmationReject()[pri:0, instance:webdriver.limitAskForConfirmationReject@5f341870]">askForConfirmationReject</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:19</td>   <td>201833</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitAskForConfirmationReject@5f341870]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:23</td>   <td>205302</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitBetWithConfirmationAccept@4cf777e8]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>17/09/11 14:09:28</td>   <td>210764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitBetWithConfirmationAccept.betWithrConfirmationAccept()[pri:0, instance:webdriver.limitBetWithConfirmationAccept@4cf777e8]">betWithrConfirmationAccept</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:43</td>   <td>225721</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitBetWithConfirmationAccept@4cf777e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:09:47</td>   <td>229009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitBetWithConfirmationChange@5bcab519]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>17/09/11 14:09:52</td>   <td>234299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitBetWithConfirmationChange.betWithrConfirmationChange()[pri:0, instance:webdriver.limitBetWithConfirmationChange@5bcab519]">betWithrConfirmationChange</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:10:10</td>   <td>252417</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitBetWithConfirmationChange@5bcab519]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:10:13</td>   <td>255744</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitBetWithConfirmationNoAction@27c20538]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>17/09/11 14:10:19</td>   <td>261209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitBetWithConfirmationNoAction.betWithConfirmationNoActions()[pri:0, instance:webdriver.limitBetWithConfirmationNoAction@27c20538]">betWithConfirmationNoActions</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:10:59</td>   <td>301262</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitBetWithConfirmationNoAction@27c20538]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:11:02</td>   <td>304374</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.limitBetWithConfirmationReject@56ef9176]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>17/09/11 14:11:07</td>   <td>309729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="limitBetWithConfirmationReject.betWithConfirmationReject()[pri:0, instance:webdriver.limitBetWithConfirmationReject@56ef9176]">betWithConfirmationReject</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:11:22</td>   <td>324431</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.limitBetWithConfirmationReject@56ef9176]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
</table>
