<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f76cb4">  <td>17/09/11 15:03:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addOddPrematchToResolvedTicket.AdditionalOddPrematchToResolvedTicket()[pri:0, instance:webdriver.addOddPrematchToResolvedTicket@26be92ad]">AdditionalOddPrematchToResolvedTicket</td> 
  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 15:03:25</td>   <td>-6038</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.addOddPrematchToResolvedTicket@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 15:03:50</td>   <td>18623</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.addOddPrematchToResolvedTicket@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
</table>
