<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Live Ticket Placing Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>17/09/11 14:21:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeLiveMultiTicket@26be92ad]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:22:32</td>   <td>47312</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeLiveSingleTicket@5e3a8624]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:23:07</td>   <td>82345</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GeneralTest.Initialisation(java.lang.String)[pri:0, instance:webdriver.placeLiveSystemTicket@6d4b1c02]">&gt;&gt;Initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/09/11 14:21:54</td>   <td>8684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeLiveMultiTicket.PlaceLiveMultiTicket()[pri:0, instance:webdriver.placeLiveMultiTicket@26be92ad]">PlaceLiveMultiTicket</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/09/11 14:22:38</td>   <td>52713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeLiveSingleTicket.PlaceLiveSingleTicket()[pri:0, instance:webdriver.placeLiveSingleTicket@5e3a8624]">PlaceLiveSingleTicket</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>17/09/11 14:23:13</td>   <td>87608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeLiveSystemTicket.PlaceLiveSystemTicket()[pri:0, instance:webdriver.placeLiveSystemTicket@6d4b1c02]">PlaceLiveSystemTicket</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:22:29</td>   <td>44245</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeLiveMultiTicket@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:23:04</td>   <td>79376</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeLiveSingleTicket@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/11 14:23:36</td>   <td>110514</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeneralTest.afterTest()[pri:0, instance:webdriver.placeLiveSystemTicket@6d4b1c02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
</table>
